<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Backtrader Web Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="backtestControlPanel">
        <h2>Run a New Backtest</h2>
        <div id="controlForm">
            <div class="form-group">
                <label for="strategyNameInput">Strategy:</label>
                <input type="text" id="strategyNameInput" value="CorrelatedSMACross" readonly>
            </div>
            
            <!-- This container will be populated by JavaScript -->
            <div id="strategyParamsContainer">
                <p>Loading parameters...</p>
            </div>

            <div class="form-group">
                <button id="runBacktestButton">Run Backtest</button>
            </div>
        </div>
        <div id="responseMessage"></div>
    </div>

    <div id="resultsArea">
        <div id="backtestReportArea">
            <div id="reportRunConfig"></div>
            <div id="reportPerformanceSummary"></div>
            <div id="reportTradeStats"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/ui.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/chart.js') }}" type="module"></script>
</body>
</html>